body{
	background-color : white ;
}

#topNav{
	padding-top : 25px ;
}

#navTop{
	border-radius : 10px ;
}

#navMid{
	margin-top: 10px;
	border-radius : 10px ;
}
#srch-term {
  width: 500px;
}

.form-inline {
  width: -80px;
}
/* Space between search bar and search butto */
.srch-marginl{
  margin-left: 180px;
}
/* Space between buttons*/
.btn-marginl {
  margin-left: 10px;
}
/* Centering the register modal body */
.reg-center {
  padding: 5px;
  text-align: center;
  margin:auto;
}
 /* Centering the login modal body */
.log-center {
  padding: 10px;
  text-align: center;
  margin:auto;
}

