body{
	background-color : black ;
}

#topNav{
	padding-top : 25px ;
}

#navTop{
	border-radius : 10px ;
}

#navMid{
	margin-top: 10px;
	border-radius : 10px ;
}
#srch-term {
  width: 500px;
}

.form-inline {
  width: -80px;
}

.srch-marginl{
  margin-left: 180px;
}

.btn-marginl {
  margin-left: 10px;
}

.reg-center {
  padding: 5px;
  text-align: center;
  margin:auto;
}

